.node {
  display: flex;
  height: 64px;
  width: 100%;
  gap: 4px;

  .node_duration {
    flex: 1;
    min-width: 0;
    height: 100%;
    background-color: $bg-secondary;
    border: 8px;
    border-radius: 4px;
    position: relative;

    &.node_active {
      background-color: $bg-tertiary;

      .bar_left,
      .bar_right {
        display: flex;
      }
    }

    .node_duration_bar {
      position: absolute;
      height: 80%;
      top: 10%;
      background-color: $color-active;
      background-repeat: repeat;
      background-size: 120px auto;
      background-position: left;
      overflow: hidden;
      border-radius: 8px;
    }

    .bar_right,
    .bar_left {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: center;
      gap: 2px;
      height: 100%;
      width: 12px;
      top: 0;
      background-color: rgba($color: #fff, $alpha: 0.6);
      cursor: pointer;

      &:hover {
        background-color: #a1a1a1;
      }

      &::after,
      &::before {
        content: "";
        width: 2px;
        height: 12px;
        background-color: #fff;
      }
    }

    .bar_left {
      left: 0;
    }

    .bar_right {
      right: 0;
    }
  }
}