.wrap {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: $bg-primary;
  overflow: hidden;

  .wrap_right,
  .wrap_left {
    width: max-content;
  }

  .wrap_content {
    flex: 1;
    min-width: 0;
  }

}