.wrap {
  display: flex;
  height: 100%;
  width: 100%;

  .wrap_material {
    display: flex;
    width: 262px;
    padding: 16px 0;
    min-width: 0;
    background-color: $bg-secondary;
    height: 100%;
  }
}