.wrap {
  display: flex;
  height: 100%;
  width: 100%;

  .wrap_type {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 64px;
    height: 100%;
    border-right: 1px solid $bg-secondary;

    .type_item {
      width: 64px;
      height: 64px;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $color-secondary;
      font-size: 12px;
      color: #45484b;
      transition: all .3s ease-in-out;

      &:hover {
        color: $color-primary;
      }

      &.type_item_active {
        color: $color-primary;
        background-color: $bg-secondary;
      }
    }
  }

  .wrap_material {
    display: flex;
    width: 262px;
    padding: 16px 0;
    min-width: 0;
    background-color: $bg-secondary;
    height: 100%;
  }
}