.wrap {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  gap: 16px;

  .wrap_top {
    height: max-content;
    padding: 0 16px 16px;
    border-bottom: 1px solid $bg-tertiary;
  }

  .wrap_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    min-height: 0;
    overflow: auto;
    scrollbar-gutter: stable;
  }

  .material_group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 0 16px 16px;
    border-bottom: 1px solid $bg-tertiary;

    &:nth-last-child(1) {
      border-bottom: none;
    }

    .material_group_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .material_group_label {
        color: $color-primary;
      }

      .material_group_more {
        color: $color-secondary;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }

  .wrap_content_more {
    padding: 0 0 16px 16px;
  }

  .material_box {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 8px;
    gap: 11px;
    background-color: $bg-primary;
  }

  .material_item {
    height: 64px;
    width: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 4px;
    transition: outline .3s ease-in-out;
    outline: 2px solid transparent;

    &:hover {
      outline: 2px solid $color-active;
    }
  }
}