.pane_item {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 32px;
  height: max-content;
  gap: 8px;
  margin-bottom: 12px;
  width: 100%;

  .pane_item_label {
    display: flex;
    height: 100%;
    min-height: 32px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    background-color: $bg-secondary;
  }

  .pane_item_content {
    flex: 1;
    min-width: 0;
  }
}