.wrap {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  gap: 16px;

  .group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px 16px;
    border-bottom: 1px solid $bg-tertiary;

    &:nth-last-child(1) {
      border-bottom: none;
    }

    .group_title {
      display: flex;
      gap: 6px;
      color: $color-primary;

      &::before {
        width: 24px;
      }

      &::after {
        flex: 1;
        min-width: 0;
      }
    }

    .group_box {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      .item {
        display: flex;
        height: 77px;
        width: 77px;
        align-items: center;
        justify-content: center;
        background-color: $bg-primary;
        border-radius: 4px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        outline: 2px solid transparent;

        &:hover {
          background-color: $bg-secondary;
          outline: 2px solid $color-active;
        }

        .item_label {
          color: $color-primary;
        }
      }
    }
  }
}